In [26]:
import pandas as pd
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [16]:
data=pd.read_csv("C:\\Users\\Dell\\Downloads\\World country Population list.csv")
data.head(11)

,Rank,name,pop2022,pop2021,GrowthRate,area,Density,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,China,1425887.337,1425893.465,1.0000,9706961,146.8933,NaN,NaN,NaN,NaN
1,2,India,1417173.173,1407563.842,1.0068,3287590,431.0675,NaN,NaN,NaN,NaN
2,3,United States,338289.857,336997.624,1.0038,9372610,36.0935,NaN,Rank,(Multiple Items),NaN
3,4,Indonesia,275501.339,273753.191,1.0064,1904569,144.6529,NaN,NaN,NaN,NaN
4,5,Pakistan,235824.862,231402.117,1.0191,881912,267.4018,NaN,Row Labels,Max of pop2021,Sum of pop2022
5,6,Nigeria,218541.212,213401.323,1.0241,923768,236.5759,NaN,China,1425893.465,1425887.337
6,7,Brazil,215313.498,214326.223,1.0046,8515767,25.2841,NaN,India,1407563.842,1417173.173
7,8,Bangladesh,171186.372,169356.251,1.0108,147570,1160.0350,NaN,United States,336997.624,338289.857
8,9,Russia,144713.314,145102.755,0.9973,17098242,8.4636,NaN,Grand Total,1425893.465,3181350.367
9,10,Mexico,127504.125,126705.138,1.0063,1964375,64.9082,NaN,NaN,NaN,NaN
10,11,Japan,123951.692,124612.530,0.9947,377930,327.9753,NaN,NaN,NaN,NaN

In [18]:
data.max()
data.min()

C:\Users\Dell\AppData\Local\Temp/ipykernel_1820/3520738129.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.max()
C:\Users\Dell\AppData\Local\Temp/ipykernel_1820/3520738129.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.min()

Rank                    1
name          Afghanistan
pop2022              0.51
pop2021             0.511
GrowthRate          0.912
area                    1
Density            0.0261
Unnamed: 7            NaN
dtype: object

In [20]:
data.size

2310

In [21]:
data.describe

<bound method NDFrame.describe of      Rank           name      pop2022      pop2021  GrowthRate     area  \
0       1          China  1425887.337  1425893.465      1.0000  9706961
1       2          India  1417173.173  1407563.842      1.0068  3287590
2       3  United States   338289.857   336997.624      1.0038  9372610
3       4      Indonesia   275501.339   273753.191      1.0064  1904569
4       5       Pakistan   235824.862   231402.117      1.0191   881912
..    ...            ...          ...          ...         ...      ...
205   206     San Marino       33.660       33.745      0.9975       61
206   207          Palau       18.055       18.024      1.0017      459
207   208          Nauru       12.668       12.511      1.0125       21
208   209         Tuvalu       11.312       11.204      1.0096       26
209   210   Vatican City        0.510        0.511      0.9980        1

      Density  Unnamed: 7  Unnamed: 8        Unnamed: 9     Unnamed: 10
0    146.8933         NaN         NaN               NaN             NaN
1    431.0675         NaN         NaN               NaN             NaN
2     36.0935         NaN        Rank  (Multiple Items)             NaN
3    144.6529         NaN         NaN               NaN             NaN
4    267.4018         NaN  Row Labels    Max of pop2021  Sum of pop2022
..        ...         ...         ...               ...             ...
205  551.8033         NaN         NaN               NaN             NaN
206   39.3355         NaN         NaN               NaN             NaN
207  603.2381         NaN         NaN               NaN             NaN
208  435.0769         NaN         NaN               NaN             NaN
209  510.0000         NaN         NaN               NaN             NaN

[210 rows x 11 columns]>

In [22]:
data.add

<bound method flex_arith_method_FRAME.<locals>.f of      Rank           name      pop2022      pop2021  GrowthRate     area  \
0       1          China  1425887.337  1425893.465      1.0000  9706961
1       2          India  1417173.173  1407563.842      1.0068  3287590
2       3  United States   338289.857   336997.624      1.0038  9372610
3       4      Indonesia   275501.339   273753.191      1.0064  1904569
4       5       Pakistan   235824.862   231402.117      1.0191   881912
..    ...            ...          ...          ...         ...      ...
205   206     San Marino       33.660       33.745      0.9975       61
206   207          Palau       18.055       18.024      1.0017      459
207   208          Nauru       12.668       12.511      1.0125       21
208   209         Tuvalu       11.312       11.204      1.0096       26
209   210   Vatican City        0.510        0.511      0.9980        1

      Density  Unnamed: 7  Unnamed: 8        Unnamed: 9     Unnamed: 10
0    146.8933         NaN         NaN               NaN             NaN
1    431.0675         NaN         NaN               NaN             NaN
2     36.0935         NaN        Rank  (Multiple Items)             NaN
3    144.6529         NaN         NaN               NaN             NaN
4    267.4018         NaN  Row Labels    Max of pop2021  Sum of pop2022
..        ...         ...         ...               ...             ...
205  551.8033         NaN         NaN               NaN             NaN
206   39.3355         NaN         NaN               NaN             NaN
207  603.2381         NaN         NaN               NaN             NaN
208  435.0769         NaN         NaN               NaN             NaN
209  510.0000         NaN         NaN               NaN             NaN

[210 rows x 11 columns]>

In [23]:
data.infer_objects

<bound method NDFrame.infer_objects of      Rank           name      pop2022      pop2021  GrowthRate     area  \
0       1          China  1425887.337  1425893.465      1.0000  9706961
1       2          India  1417173.173  1407563.842      1.0068  3287590
2       3  United States   338289.857   336997.624      1.0038  9372610
3       4      Indonesia   275501.339   273753.191      1.0064  1904569
4       5       Pakistan   235824.862   231402.117      1.0191   881912
..    ...            ...          ...          ...         ...      ...
205   206     San Marino       33.660       33.745      0.9975       61
206   207          Palau       18.055       18.024      1.0017      459
207   208          Nauru       12.668       12.511      1.0125       21
208   209         Tuvalu       11.312       11.204      1.0096       26
209   210   Vatican City        0.510        0.511      0.9980        1

      Density  Unnamed: 7  Unnamed: 8        Unnamed: 9     Unnamed: 10
0    146.8933         NaN         NaN               NaN             NaN
1    431.0675         NaN         NaN               NaN             NaN
2     36.0935         NaN        Rank  (Multiple Items)             NaN
3    144.6529         NaN         NaN               NaN             NaN
4    267.4018         NaN  Row Labels    Max of pop2021  Sum of pop2022
..        ...         ...         ...               ...             ...
205  551.8033         NaN         NaN               NaN             NaN
206   39.3355         NaN         NaN               NaN             NaN
207  603.2381         NaN         NaN               NaN             NaN
208  435.0769         NaN         NaN               NaN             NaN
209  510.0000         NaN         NaN               NaN             NaN

[210 rows x 11 columns]>

In [25]:
data.size

2310